main {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 400px;
    height: 800px;
    margin-bottom: 12px;
    animation: fade-in 15s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}