:root {
    --primary-color: #417B5A;
    --secondary-color: #FDCD52;
    --text-color: #fffffa;
    --accent-color: #1F2041;
    --heading-font: 'Arial', sans-serif;
    --body-text-font: 'Verdana', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.2rem;
    padding: 8px;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
}

#course-title {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    background-color: var(--primary-color);
    padding: 16px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 8px;
}

ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    padding: 20px 8px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 2px solid var(--secondary-color);
    border-radius: 16px;
    width: 90%;
    margin-bottom: 16px; 
    /* padding: 8px; */
}

h2 {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    color: var(--secondary-color);
    text-align: center;
    width: 100%;
    padding: 16px 0;
    margin-bottom: 8px;
    border-radius: 16px 16px 0 0;;
}

.card > div {
    display: flex;
    margin: 0 8px;
    align-items: center;
    padding: 16px 64px;
}

img {
    max-width: 200px;
}

h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    width: 80%;
    border-bottom: 2px solid var(--primary-color);
}

.text-last {
    padding: 16px 0 0 0;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 16px;
    /* position: relative; */
    bottom: 0;
    width: 100%;
    color: var(--secondary-color);
}