:root {
  --primary-color: #417b5a;
  --secondary-color: #fdcd52;
  --text-color: #fffffa;
  --accent-color: #b5ca8d;
  --heading-font: "Arvo", serif;
  --body-text-font: "Baloo 2", sans-serif;
}

html {
  font-size: 1.2rem;
}

* {
  font-family: var(--body-text-font);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
  padding: 20px 8px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
}

main {
  display: flex;
  justify-content: center;
  background-color: var(--accent-color);
}

form {
  margin: 16px;
  padding: 8px;
  background-color: var(--accent-color);
  border: 2px solid var(--primary-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #417b5a;
}

input,
textarea,
select {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  font-size: 1rem;
}

fieldset {
  border: none;
}

.vert,
fieldset {
  margin: 12px 0;
}
.vertical {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical > label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vert {
  display: flex;
  flex-direction: column;
}

input[type="submit"] {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.3rem;
  margin: 8px 0;
}

label > span {
  color: blue;
  font-size: 0.7rem;
}

.full-height {
  height: 80vh;
}

footer {
  background-color: var(--primary-color);
  /* color: var(--text-color); */
  text-align: center;
  padding: 16px;
  /* position: relative; */
  bottom: 0;
  width: 100%;
  color: var(--secondary-color);
}
